@import "../../global.scss";

.search {
  @include mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBar {
    @include mobile {
      font-size: 15px;
    }
  }
  .button {
    @include mobile {
      font-size: 15px;
    }
  }
}
