@import "../../global.scss";

.search {
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchBar {
    @include mobile {
      font-size: 13px;
      width: 75px;
    }
  }

  .button {
    @include mobile {
      font-size: 13px;
    }
  }
}
