@import "../../global.scss";

.header {
  .h1 {
    @include mobile {
      font-size: 25px;
      justify-content: space-around;
    }
  }

  .button {
    @include mobile {
      font-size: 12px;
      padding: 5px;
    }
  }
}
